
.timerdigital_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  height: 100vh;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  gap: 1rem;
}

.timerdigital_count {
  font-size: 5.5rem;
  font-family: 'Orbitron', sans-serif;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 50px;

  .btn_ {
    color: #fff;
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid transparent;

    &._start {
      background-color: #2ecc71;
    }

    &._pause {
      background-color: #f1c40f;
    }

    &._reset {
      background-color: #3cabe7;
    }

    &._stop {
      background-color: #e74c3c;
    }
  }
}

  .btn_stoptimer {
    color: #ffffff;
    padding: 10px 20px;
    border: whitesmoke 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s;
    background-color: #000000;
    margin-top: 20px;
  }
